---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: no-commit-to-branch # Prevents commits directly to master
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.28.0
    hooks:
      - id: yamllint
        name: Lint YAML
        args: [--format, parsable, --strict]
  - repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
    rev: 0.2.2 # or specific tag
    hooks:
      - id: yamlfmt
        args: [--mapping, '2', --sequence, '4', --offset, '2']
  - repo: https://github.com/executablebooks/mdformat.git
    rev: 0.7.16
    hooks:
      - id: mdformat
        name: Format markdown
  - repo: https://github.com/psf/black
    rev: 22.8.0
    hooks:
      - id: black
        language_version: python3.10
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        # You can use additional_dependencies to install types- packages
        # https://github.com/pre-commit/mirrors-mypy
        additional_dependencies:
          - types-mock==0.1.5
          - types-requests==2.31.0
          - types-retry==0.1.5
          - types-toml==0.10.8.1
          - types-PyYAML==6.0.12.9
          - types-python-dateutil==2.8.19.12
          - types-pytz==2023.3.0.0
  - repo: https://github.com/pycqa/pylint
    rev: v3.3.1
    hooks:
      - id: pylint
        name: pylint (Python Linting)
        types: [python]
        files: ^(terrawrap|test)/
        args: [--rcfile=pylintrc, --output-format=colorized, --score=no]
