---
name: pre-commit

on:
  pull_request:
  push:
    branches: [main]

jobs:
  pre-commit:
    runs-on: github-hosted-static-ip
    steps:
      - name: Check out
        uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - run: pip install pylint
      - name: Run pre-commit
        uses: pre-commit/action@v3.0.0
